html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color: #B8C1B1;
}

button {
    cursor: pointer;
}


#navegation-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
}

.navegation-buttons  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8C1B1;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    font-size: large;
}

.navegation-buttons:hover{
    background-color: #9ba395;
}

#logo-header {
    width: 10%;
}

.imagenes {
    width: 80%;
    height: 80%;
}

.svg {
    width: 1.25rem;
    height: 1.25rem;
}

.svg-buttons {
    width: 1.25rem;
    height: 1.25rem;
}

.container {
    width: 300px;
    height: 60%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#div-inicioSesion{ 
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


footer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7CFC4;
    color: black;
}

#logo-footer {
    width: 20%;
    height: 35%;
}

.info-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.footer-info {
    gap: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-media {
    margin-bottom: 15px;
}

.copyright {
    font-size: 0.9rem;
}

