html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background-color: #B8C1B1;
}

#navegation-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
}

.navegation-buttons  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B8C1B1;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    font-size: large;
}

.navegation-buttons:hover {
    background-color: #9ba395;
}

#logo-header {
    width: 10%;
}

.imagenes {
    width: 80%;
    height: 80%;
}

.svg {
    width: 1.25rem;
    height: 1.25rem;
}

#blog-section {
    padding: 40px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#blog-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #333;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.blog-post {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.blog-post:hover {
    transform: translateY(-5px);
}

.blog-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.blog-content {
    padding: 20px;
}

.blog-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.blog-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.read-more {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

.slider-btn {
    background-color: #B8C1B1;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.slider-btn:hover {
    background-color: #9ba395;
    transform: scale(1.05);
}

footer {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7CFC4;
    color: black;
}

#logo-footer {
    width: 20%;
    height: 35%;
}

.info-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.footer-info {
    gap: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-media {
    margin-bottom: 15px;
}

.social-icons {
    margin-right: 10px;
    border: 0;
    background-color: #D7CFC4;
}

.copyright {
    font-size: 0.9rem;
}
